<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Hesabdari_DBEntities" connectionString="metadata=res://*/HesabdariModel.csdl|res://*/HesabdariModel.ssdl|res://*/HesabdariModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Hesabdari_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>